body{
    background-color: black;
    color: aliceblue;
    font-size: large;
    font: 1em sans-serif;
}
.box{
    align-items: center;
    justify-content: space-around;
    height: 30vh;
    width: 50%;
    margin: auto;
    border: solid white 2px;
    box-shadow: 0 4px 8px 0 rgba(0,
    0,
    0,
    0.2), 0 6px 20px 0 rgba(0,
    0,
    0,
    0.19);
    text-align: center;
    padding: 10px;

}